body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100%;
}

#root {
  height: 100%;
}

.team_text {
  text-align: center;
  border: none;
  color: whitesmoke
}

.teamLogo {
  height: 30rem;
  max-width: 100%;
  width: autoSuccess;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.teamContainer {
  padding: 40vmin;
  background-color: #2b2b3b;
}

.teamCard img {
  max-width: 50%;
  max-height: 40%;
}

.teamCard:hover {
  transform: scale(1.01);
}

.teamCard {
  max-height: 40rem;
}


.groupPlayers {
  height: 80%;
}

.playersContainer {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.teamLogoContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  text-align: center;
  height: 50%;
}

.players {
  display: flex;
  flex-direction: column;
  flex-basis: 0%;
  text-align: center;
  height: 50%;
  font-size: 30px;
  margin-bottom: 0px;
}

.groupContainer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltc28d43095579c8b5/5d87c24e8d8a3163705e3070/summonersrift.jpg");
  color: #ffffff;
}

.groupCard {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  text-align: center;
  height: 50%;
  border-style: ridge;
}

.groupTitle {
  font-size: 50px;
  font-weight: bold;
  color: crimson;
  text-decoration: underline;
}

.groupTeamIcon {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 0px;
  display: block;
}

nav {
  background-color: #1b1b1b;
}

nav a {
  display: inline-block;
  margin: 1.6rem 1.5rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5em;
  font-style: oblique;
  font-variant: small-caps;
}

nav a:hover,
nav a:active {
  color: antiquewhite;
}

#homepage {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: .5rem;
  background-image: url("https://wallpaper.dog/large/10921234.jpg");
}

.about-section {
  color: white;
  width: 50rem;
  text-align: left;
  padding: 1.3rem;
}

h1 {
  text-align: center;
}

.team-page {
  background-color: #2a2929;
}

#comment-question {
  color: whitesmoke;
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}

button {
  border: none;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.75em;
  display: inline-block;
  text-decoration: none;
}

textarea,
input {
  border: none;
  border-bottom: 1px solid darkgray;
  font-size: 0.85rem;
  padding: 0.25rem;
  width: 99%;
  background-color: whitesmoke;
}

.new-comment-form {
  width: 30rem;
  color: #fff;
  background-color: #2b2b3b;
  border-radius: 0.875rem;
  padding: 1rem 1rem 0.5rem;
}

.comment-display {
  width: 30rem;
  color: #fff;
  background-color: #2b2b3b;
  border-radius: 0.875rem;
  padding: 1rem 1rem 1rem;
  overflow-wrap: break-word;
}

.display-post {
  padding: 0.2rem;
  border: none;
  border-bottom: 2px black solid;
}

.selectRegion {
  padding: 8px 12px;
  color: #1d0f55;
  background-color: #d5d6e0;
  border-color: #341196;
  border: 3px solid #420a68;
  cursor: pointer;
  border-radius: 5px;
}

.select:focus,
.select:hover {
  outline: none;
  border: 1px solid #131ebd;
}
